
.btn-container[data-v-0c2930e8] {
  padding: 0.625rem 1.25rem;
}
.btn-container[data-v-0c2930e8]:first-child {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}
button[data-v-0c2930e8] {
  margin-bottom: 1.25rem;
}

