@import url(//at.alicdn.com/t/font_1645091_2paunod7awx.css);
.popup-mask{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.3)}.iconfont{font-size:2.5rem}.fade-enter-active{-webkit-animation-name:fade_motion;animation-name:fade_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear}.fade-leave-active{-webkit-animation-name:fade_motion;animation-name:fade_motion;-webkit-animation-duration:.3s;animation-duration:.3s;animation-direction:reverse;-webkit-animation-timing-function:linear;animation-timing-function:linear}@-webkit-keyframes fade_motion{0%{opacity:0}100%{opacity:1}}@keyframes fade_motion{0%{opacity:0}100%{opacity:1}}.move-up-enter-active{-webkit-animation-name:up_motion;animation-name:up_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear}.move-up-leave-active{-webkit-animation-name:up_motion;animation-name:up_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;animation-direction:reverse}.move-down-enter-active{-webkit-animation-name:down_motion;animation-name:down_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear}.move-down-leave-active{-webkit-animation-name:down_motion;animation-name:down_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;animation-direction:reverse}.move-left-enter-active{-webkit-animation-name:left_motion;animation-name:left_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear}.move-left-leave-active{-webkit-animation-name:left_motion;animation-name:left_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;animation-direction:reverse}.move-right-enter-active{-webkit-animation-name:right_motion;animation-name:right_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear}.move-right-leave-active{-webkit-animation-name:right_motion;animation-name:right_motion;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;animation-direction:reverse}@-webkit-keyframes up_motion{0%{-webkit-transform:translateY(-100%);transform:translateY(-100%);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes up_motion{0%{-webkit-transform:translateY(-100%);transform:translateY(-100%);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes down_motion{0%{-webkit-transform:translateY(100%);transform:translateY(100%);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes down_motion{0%{-webkit-transform:translateY(100%);transform:translateY(100%);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes left_motion{0%{-webkit-transform:translateX(-100%);transform:translateX(-100%);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes left_motion{0%{-webkit-transform:translateX(-100%);transform:translateX(-100%);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes right_motion{0%{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes right_motion{0%{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}.cpw-button{position:relative;outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:PingFangSC-Regular;height:2.5rem;line-height:2.5rem;width:100%;color:#fff;text-align:center;border:none;padding:0;font-size:1rem;border-radius:.3125rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.cpw-button-default{background:#ffa54f}.cpw-button-disabled{background:#ddd}.cpw-button-light{color:#ffa54f;background:#fff;-webkit-box-shadow:0 .0625rem .1875rem rgba(0,0,0,.1);box-shadow:0 .0625rem .1875rem rgba(0,0,0,.1)}.cpw-button-small{height:1.875rem;line-height:1.875rem;font-size:.875rem;width:5rem}.cpw-button-normal{width:6.25rem}.cpw-button-big{height:3.125rem;line-height:3.125rem;font-size:1.25rem;width:7.5rem}.cpw-dialog{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100vw;height:100vh}.cpw-dialog-container{font-family:PingFangSC-Regular;width:80vw;border-radius:.625rem;background:#fff;color:#323232;font-size:1rem}.cpw-dialog-content{padding:1.25rem 1.875rem;text-align:center}.cpw-dialog-btn{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;border-top:.0625rem solid #ddd}.cpw-dialog-btn div{text-align:center;height:2.5rem;line-height:2.5rem;width:100%;border-left:.0625rem solid #ddd}.cpw-dialog-btn div:first-child{border:none}.cpw-switch{display:inline-block;line-height:0;position:relative}.cpw-switch-input{position:absolute;opacity:0;margin:0;z-index:1;height:2.1875rem;width:4.375rem}.cpw-switch-input:checked+.cpw-switch-ui{border-color:#ffa54f;background-color:#ffa54f}.cpw-switch-input:checked+.cpw-switch-ui:after{-webkit-transform:translateX(2.1875rem);transform:translateX(2.1875rem)}.cpw-switch-input:disabled+.cpw-switch-ui{opacity:.3}.cpw-switch-ui{position:relative;display:inline-block;width:4.375rem;height:2.1875rem;border-radius:2.1875rem;border:.0625rem solid #e4e4e4;background-color:#e4e4e4}.cpw-switch-ui:after{content:'';position:absolute;top:0;left:0;height:100%;border-radius:2.1875rem;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;width:2.1875rem;background-color:#fff;-webkit-box-shadow:0 .0625rem .1875rem rgba(0,0,0,.4);box-shadow:0 .0625rem .1875rem rgba(0,0,0,.4)}.cpw-range{position:relative;display:inline-block;width:100%;height:100%}.cpw-range-wrap{width:100%;height:.125rem;margin:.625rem 0;background-color:#e8eaec;cursor:pointer}.cpw-range-disabled{opacity:.5}.cpw-range-bar{height:.125rem;background:#ffa54f}.cpw-range-button-wrap{position:absolute;height:.9375rem;width:.9375rem;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box}.cpw-toast{position:absolute;top:0;left:0;right:0;bottom:0;font-family:PingFang-SC-Medium;color:#fff;z-index:100}.cpw-toast-container{position:absolute;text-align:center;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);left:50%;top:22%;font-size:1rem;border-radius:.5rem;background:rgba(0,0,0,.8);padding:.625rem 1.25rem;overflow-wrap:break-word}.cpw-input{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:#fff;padding:.3125rem .625rem;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}.cpw-input-field{font-size:1rem;display:block;-webkit-box-flex:1;-ms-flex:1;flex:1;max-width:90%;border:0;outline:0;height:1.875rem}.cpw-input-append{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center}.cpw-input-clear,.cpw-input-eye{min-width:1.875rem}.cpw-input-clear>i,.cpw-input-eye>i{font-size:1.25rem}input:disabled,input[disabled]{color:silver;-webkit-text-fill-color:silver;background:0 0}.cpw-picker-wheel{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:1rem;overflow:hidden;font-weight:700;height:auto;position:relative}.cpw-picker-wheel>i{position:absolute;height:5rem;z-index:1;width:100%}.cpw-picker-wheel-top-mask{top:0;background:-webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));background:linear-gradient(0deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8))}.cpw-picker-wheel-bottom-mask{bottom:0;background:-webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));background:linear-gradient(180deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8))}.cpw-picker-container{position:relative;font-size:1rem;height:12.5rem;overflow:hidden}.cpw-picker-container-scroll{padding:5rem 0}.cpw-picker-container-scroll>li{height:2.5rem;line-height:2.5rem;text-align:center;overflow:hidden}.cpw-picker-container-temporary{-webkit-transition:-webkit-transform .5s;transition:-webkit-transform .5s;transition:transform .5s;transition:transform .5s,-webkit-transform .5s}.cpw-picker-grid{position:absolute;top:5rem;width:100%;height:2.5rem;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:0;-webkit-box-shadow:0 0 .0625rem .0625rem rgba(0,0,0,.2);box-shadow:0 0 .0625rem .0625rem rgba(0,0,0,.2)}.cpw-picker-choose{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%;height:2.5rem;line-height:2.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;font-size:1rem;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.cpw-picker-cancel,.cpw-picker-confirm{padding:0 .625rem}.cpw-picker-title{font-size:1.25rem}.cpw-input-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;background:#fff}.cpw-input-group-label{width:40%;padding:.625rem .625rem}.cpw-drawer-container{position:fixed;background:#fff;z-index:100}
body {
  background-color: #F5F5F5;
}
html,
body,
#app {
  overflow: hidden;
  height: 100%;
}
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
body,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
* {
  outline: none;
}
.btn-container {
  padding: 1.25rem 1.25rem;
}
button {
  margin-bottom: 1.25rem;
}


.cpw-page[data-v-21e5b6b0]{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  padding-top:2.5rem;
}

.title[data-v-1d247050] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background: #FFF;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 0.0625rem solid #EEE;
  font-weight: 500;
}
.title p[data-v-1d247050] {
  position: absolute;
  left: 1.25rem;
  font-size: 1rem;
  color: #CCC;
}

.page-move-enter,
.page-move-leave-active {
  -webkit-transform: translateX(100vw);
      -ms-transform: translateX(100vw);
          transform: translateX(100vw);
}
.page-move-enter-active,
.page-move-leave-active {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.comp-list[data-v-6a8817b3] {
  width: 100%;
  background: #FFF;
}
.comp-list li[data-v-6a8817b3] {
  font-size: 1.25rem;
  height: 3.125rem;
  line-height: 3.125rem;
  padding-left: 1.875rem;
  border-bottom: 0.0625rem solid #DDD;
}

